/* signup.module.css */
.auth_wrap {
  /* 공통 */
  .auth_box {
    @apply relative z-0 px-[40px] py-[48px] text-left;

    h4.title {
      @apply title_6_b mt-[32px] pb-[16px] text-left text-[var(--gray9)];
    }

    .title_box {
      @apply pb-[16px];
      h4.title {
        @apply pb-0;
      }
      .txt_info {
        @apply body_3_r mt-[4px] text-[var(--gray7)];
      }
    }

    .search_info {
      @apply body_2_r pt-[48px] text-center text-[var(--gray7)];
      strong {
        @apply text-[var(--gray8)];
      }
    }

    .signup_select {
      + .auth_form {
        @apply mt-[48px];
        + .signup_noti {
          @apply mt-[8px];
        }
      }
      + .select_txt {
        @apply body_bo_2_r mt-[32px] text-center text-[#6F798B];
      }
    }

    .signup_info {
      + h4.title {
        @apply mt-[48px];
      }
    }

    .step_box {
      @apply pl-[140px] pr-[140px];
    }

    .signup_select {
      @apply mt-[48px];
      .radio_card {
        @apply flex items-center justify-center gap-[16px] text-center;

        button {
          @apply body_3_b m-auto h-[126px] w-full flex-col justify-center rounded-[16px] border-[1px] border-solid border-[var(--gray5)] text-center text-[var(--gray8)];
          span {
            @apply mt-[8px] block text-[var(--gray6)];
          }
          svg {
            @apply opacity-30;
          }
          .ico1 {
            @apply stroke-[var(--primary1)];
          }
          .ico2 {
          }
          &[aria-checked='true'] {
            @apply border-[var(--primary1)] text-[var(--primary1)] shadow-[0px_3px_6px_rgba(0,0,0,0.08)];
            span {
              @apply text-[var(--primary1)];
            }
            svg {
              @apply opacity-100;
            }
          }
        }
      }
    }

    .signup_noti {
      @apply mt-[48px] rounded-[8px] bg-[var(--gray1)] p-[16px];
      .check_point {
        @apply body_4_r text-left text-[var(--gray7)];
        dt {
          @apply body_4_b flex items-center justify-start;
          svg {
            @apply mr-[4px];
          }
        }
        dd {
          @apply relative mt-[8px] pl-[10px];
          + dd {
            @apply mt-[4px];
          }
          &::before {
            @apply absolute left-[0] top-[6px] h-[4px] w-[4px] rounded-full bg-[var(--gray6)] content-[''];
          }
          .link {
            @apply ml-[8px] text-[#009ABC] underline;
          }
        }
      }
    }

    .btn_txt {
      @apply body_3_r text-[var(--gray8)] underline;
    }
    .auth_form {
      + .noti_info_txt {
        @apply mt-[8px] text-center;
        + .signup_noti {
          @apply mt-[24px];
        }
      }
      + .signup_noti {
        @apply mt-[8px];
      }
    }
  }

  /* 하단 버튼 */
  .btn_wrap {
    @apply mt-[48px] flex items-center justify-center;
    button {
      @apply w-full;
      &.max {
        @apply max-w-[294px];
      }
    }
  }

  .btn_wrap1111 {
    border-color: red;
  }

  /* 로그인 */
  &.login {
    .login_info {
      @apply flex items-center justify-between;
      .id_save {
        label {
          @apply text-[1.4rem] text-[var(--gray8)];
        }
      }
      .info {
        @apply body_3_r flex gap-[24px] text-[var(--gray7)];
        a {
          @apply underline;
        }
      }
    }
    .btn_box {
      @apply mt-[24px];
      .btn {
        @apply w-full;
      }
    }

    .sns_login {
      @apply relative mt-[40px] text-center;
      .list {
        @apply mt-[24px] flex items-center justify-center gap-[24px];
        > li {
          @apply h-[48px] w-[48px];
        }
      }
      &::before {
        @apply absolute left-[0] top-[12px] block h-[1px] w-full bg-[var(--gray4)] content-[""];
        z-index: 0;
      }
      .tit_sns {
        @apply body_2_r relative m-auto inline-block h-[26px] w-[180px] bg-[var(--white)] text-[var(--gray7)];
        z-index: 2;
      }
      .noti {
        @apply body_bo_2_r mt-[24px] text-[var(--gray7)];
      }
    }

    .login_guide {
      @apply body_3_r flex h-[56px] items-center justify-center border-t border-solid border-[var(--gray4)] text-[var(--gray7)];
      .btn_join {
        @apply text-[var(--secondary3)];
      }
      a {
        @apply underline;
        + a {
          @apply ml-[16px];
        }
      }
      svg {
        @apply mr-[4px];
      }
    }
  }

  /* 회원가입 유형 */
  &.signup_step {
    .signup_check {
      @apply rounded-[8px] border-[1px] border-solid border-[var(--gray5)] p-[24px] text-left;
      ul {
        > li {
          @apply mt-[16px] flex items-center justify-between;
          .btn_view {
            @apply body_3_r text-[var(--gray8)] underline;
          }
        }
      }
    }

    .check_all {
      @apply flex border-b border-solid border-[var(--gray4)] pb-[16px];
    }
  }

  /* 아이디/비밀번호 찾기 */
  &.search_account {
    .signup_select {
      .radio_card {
        button {
          .ico2 {
            @apply stroke-[var(--primary1)];
          }
        }
      }
    }
  }

  /* 가입완료, 찾기완료 */
  &.search_account {
    .search_info {
      @apply pt-[48px];
    }
  }

  /* MPASS 인증 */
  &.mpass_cert {
    .search_info {
      @apply pt-0;
    }
  }
}

/* mobile */
:global(body.mobile) {
}
