/* language.module.css */
.btn_language {
  @apply box-border flex min-h-[40px] min-w-[55px] items-center justify-between px-[24px] text-[1.4rem] text-[var(--gray9)];
  &[data-state='open'] {
    svg {
      @apply rotate-180;
      transition: all 0.1s linear;
    }
  }
  svg {
    transition: all 0.1s linear;
  }
  .select {
    @apply mr-[2px] inline-block;
  }
}
.language_content {
  @apply rounded-[8px] border border-solid border-[var(--gray6)] bg-[var(--white)] p-[8px] shadow-[0px_2px_10px_rgba(0,0,0,0.08)];
  .lang_wrap {
    .lang_list {
      @apply flex max-w-[400px] flex-wrap;
      li {
        @apply body_3_r w-[calc(100%/2)] min-w-[188px];
        .btn {
          @apply box-border block h-full w-full rounded-[4px] px-[12px] py-[8px] text-left text-[var[--gray9]];
          &.active,
          a:hover {
            @apply bg-[var(--secondary5)];
          }
        }
      }
    }
  }
}
