/* navigate.module.css */
.start {
  &.navigate {
    @apply relative;
    .nav {
      @apply relative z-[0];
      .gnb_swiper {
        @apply flex w-[610px] justify-start;
        [class*='swiper-slide'] {
          @apply title4-b relative flex !w-auto items-center justify-start whitespace-nowrap;
          a {
            @apply title4-b relative flex h-[80px] items-center;
            span {
              @apply relative leading-[80px];
            }
            &:hover,
            &.active {
              @apply text-[var(--blue65)];
              span {
                &::before {
                  /* @apply absolute bottom-[-1px] left-[0] block h-[3px] w-full bg-[var(--secondary1)] content-['']; */
                }
              }
              .menu_all {
                @apply block;
              }
            }
          }
          &:has(.event_menu) {
            @apply pl-[20px];
            a span {
              @apply text-[var(--blue65)];
            }
            &::before {
              @apply absolute left-0 top-1/2 inline-block h-[20px] w-[1px] -translate-y-1/2 bg-[var(--gray75)] content-[''];
            }
            & + [class*='swiper-slide'] {
              @apply pl-0;
              &::before {
                @apply !hidden;
              }
            }
          }

          .label {
            @apply body_4_b absolute left-[46%] top-[0] inline-flex h-[20px] items-center whitespace-nowrap rounded-[10px] bg-[var(--status1)] px-[8px] text-[var(--white)];
          }
        }
      }

      [class*='prev_btn'],
      [class*='next_btn'] {
        @apply !m-[0] !w-[30px] !rounded-none !p-[0] !shadow-none;
      }
      [class*='prev_btn']::before,
      [class*='next_btn']::before {
        content: '';
        @apply pointer-events-none absolute top-0 h-full w-[60px];
      }
      [class*='prev_btn']::before {
        @apply left-[80%];
        background: linear-gradient(to right, white, transparent);
      }
      [class*='next_btn']::before {
        @apply right-[80%];
        background: linear-gradient(to right, transparent, white);
      }

      .ico {
        @apply h-[16px] w-[16px];
        fill: var(--gray50);
        &.prev {
        }
        &.next {
          @apply rotate-180;
        }
      }

      .gnb_button_next {
        @apply right-[28px];

        &::before {
          @apply right-[-28px] rotate-[180deg];
        }
      }
      .gnb_button_prev {
        @apply left-[-10px];

        &::before {
          @apply left-[-10px];
        }
        svg {
          @apply rotate-[180deg];
        }
      }
    }
  }
}
