#root {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* 
@media (max-width: 1024px) {
  #lnb {
    transform: translateX(-100%);
  }
} */

.transition-width {
  transition: width 0.3s;
}

.transition-margin {
  transition: margin-left 0.3s;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-wrapper {
  position: relative;
  /* width: 100%; */
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  background-color: #1e1e1e;
  border-radius: 10px;
}

.video-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-spinner {
  color: white;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.footer > p {
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  white-space: pre;
  /* text-wrap: nowrap; */
}
/* 
$primary-color: #333;
$secondary-color: #666;
$background-color: #f8f8f8;
$highlight-color: #fff; */

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #666;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loading-spinner {
  color: white;
  font-size: 24px;
}

.grid-cols-dynamic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1.5rem; /* 또는 gap-6 */
}
.video-progress-container {
  position: relative;
  width: 100%;
  height: 0.5em; /* Adjust the height as needed */
}

.video-progress-container .progress-bar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.video-progress-container .progress-bar.played {
  background: #82c91e;
  z-index: 2;
}

.video-progress-container .progress-bar.loaded {
  background: rgba(130, 201, 30, 0.5);
  z-index: 1;
}

/* .video-progress {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--font-sm);
  color: #fff;
  &:disabled {
    display: none;
  }
} */
.video-progress {
  align-items: center;
}

.video-progress input[type='range'] {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #fff var(--progress),
    rgba(250, 250, 250, 0.5) 0
  );
}

.video-progress input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: blue;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.video-progress input[type='range']::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #82c91e;
  cursor: pointer;
}
.seek-slider {
  &::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &::-ms-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
