.start {
  .lnb_wrap {
    @apply w-full p-[32px];
  }
  .lnb_title {
    @apply mb-[16px] box-border border-b-2 border-solid border-[var(--gray9)] pb-[16px];
    .lnb_title_btn {
      @apply relative flex min-h-[25px] w-full items-center break-all pr-[20px];
      span {
        @apply block text-left text-[1.8rem] font-bold leading-[26px] text-[var(--gray9)];
      }
      &.active {
        svg {
          @apply rotate-0;
        }
      }
      &.inactive {
        svg {
          @apply rotate-180;
        }
      }
      svg {
        @apply absolute right-0 top-1/2 -mt-[8px] h-[16px] w-[16px];
      }
    }
  }
  ._active {
    color: blue;
  }

  ._depth2 {
    background-color: aqua;

    ._depth3 {
      background-color: yellowgreen;
    }
  }
}
