/* _common.css 공통 */

:root {
  --img-path: '../images/';
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  @apply scrollbar;
}

html {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray9);
  line-height: 160%;
}

strong {
  font-weight: 600;
}

/* radix scroll */
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

body[data-scroll-locked][data-scroll-locked] {
  overflow: auto !important;
}

/* 공통 레이아웃(정렬) */
.lnb-open main {
  /* lnb open */
  @apply !max-w-[calc(100vw-263px)];
}
.row_wrap {
  @apply rounded-[8px] border border-solid border-[var(--gray5)] p-[16px];
}
.row {
  /* form */
  @apply flex w-full gap-[32px];
  .row {
    @apply mt-[16px];
  }
  & + .row,
  & + .col {
    @apply border-t-[1px] border-solid border-[var(--gray3)] pt-[16px];
    &.no_line {
      @apply border-0 pt-0;
    }
  }
}
/* col */
.col {
  @apply flex flex-col;
}
