/* _common.css 공통 */

:root {
  --img-path: '../images/';
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray9);
  line-height: 160%;
}

strong {
  font-weight: 600;
}
